.slider
  height: 100vh
  img 
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center center
.slick-list, .slick-track
  height: 100%
  z-index: -99

.slick-dots
  display: flex
  position: absolute
  bottom: 1%
  left: 50%
  transform: translateX(-50%)
  list-style: none
  & li
    list-style: none
    &::before
      content: ""
      display: inline-block
      width: 10px
      height: 10px
      cursor: pointer
      -moz-border-radius: 7.5px
      -webkit-border-radius: 7.5px
      border-radius: 7.5px
      background-color: #ffffff
    & button
      color: transparent
      border: 0
      outline: none
      background: transparent

.slick-active::before
  background-color: #ffa000 !important

.next
  position: absolute
  right: 20px
  top: 50%
  cursor: pointer
  &:before
    content: ""
    width: 40px
    height: 40px
    border-bottom: 5px solid #fff
    border-right: 5px solid #fff
    position: absolute
    top: 50%
    right: 40%
    transform: translateY(-50%) rotate(-45deg)
  &:hover
    background-color: rgba(0, 0, 0, 0.55)

.prev
  position: absolute
  left: 20px
  top: 50%
  cursor: pointer

  &:before
    content: ""
    width: 40px
    height: 40px
    border-bottom: 5px solid #fff
    border-left: 5px solid #fff
    position: absolute
    top: 50%
    left: 40%
    transform: translateY(-50%) rotate(45deg)
  &:hover
    background-color: rgba(0, 0, 0, 0.55)

.banner
  position: relative

.bantext
  color: #fff
  font-size: 12px
  position: absolute
  right: 8%
  top: 25%
  z-index: 1
  text-align: right
// Slider End

.bg-mid
  background-image: url(../img/bg-berita.png)
  background-size: cover
  background-repeat: no-repeat

.bg-menu .cover
  width: 100%
  height: 100%
  object-fit: cover
  opacity: 0.3

.container-menu
  height: 210px
  position: relative
  display: flex
  align-items: center
  justify-content: center
  margin-bottom: 2rem
  transition: 0.3s
  &:hover
    transform: scale(1.1)
    text-decoration: none

.bg-menu
  background-color: #003366
  position: absolute
  width: 100%
  height: 100%

.item-bg-menu
  text-align: center
  position: relative

.bg-news-list
  background-color: #fff
  margin-bottom: 2rem
  border: 1px solid #e1e1e1

.news-body
  padding: 20px

.bg-news-item
  height: 185px

.bg-news-item img
  object-fit: cover
  width: 100%
  height: 100%

.news-title
  font-family: 'Montserrat Bold'
  &::after
    content: ''
    display: block
    width: 40px
    height: 3px
    background-color: #003366
    margin-top: 10px

.date
  display: flex
  justify-content: flex-start
  list-style: none
  padding-left: 0
  font-family: 'Open Sans Italic'
  font-size: 12px
  &-bold
    font-family: 'Montserrat Bold'
    font-size: 3rem
    text-align: right
    color: #ffffff
    padding-top: 5px
  &-light
    font-family: 'Montserrat'
    text-align: right
    font-size: 18px
    color: #ffffff
    padding-top: 5px
    padding-bottom: 10px

.dateandplace
  display: flex
  justify-content: space-between
  list-style: none
  padding-left: 0
  font-family: "Open Sans Italic"
  font-size:  12px
  color: #6a6a6a
  & li 
    display: flex

.next-news
  color: #003366
  font-size: 12px
  font-family: 'Open Sans Bold'
  transition: 0.3s
  &:hover
    text-decoration: none

.news-content
  font-family: 'Charter'
  font-size: 12px
  color: #6a6a6a
  margin-bottom: 0
  margin-top: 1rem
  height: 90px
  overflow: hidden

.middle .bg-bottom-top
  margin-bottom: 3rem

.video-bg
  background-color: #003366

video
  height: 100%
  width: 100%
  object-fit: cover
  padding-bottom: 10px

.video-bg h2.title-general
  color: #ffffff

.gallery-thumb
  height: 210px
  margin-bottom: 2rem
  & img
    height: 100%
    width: 100%
    object-fit: cover
    transition: 0.3s
    &:hover
      transform: scale(1.1)
      

.video-text,
.video-date
  font-family: 'Open Sans'
  font-size: 12px
  color: #ffffff

.agenda
  & h2.title-general 
    color: #003366
    text-align: left
    padding: 2rem 0
    &::after
      content: ''
      display: block
      width: 50px
      height: 3px
      background-color: #cc2014
      margin: 0
  &-container
    border-bottom: 1px solid #6a6a6a
    padding-bottom: 10px
    margin-bottom: 25px
    height: 10rem
  &-date
    background-color: #ff9f00
    padding-right: 10px
  &-text
    font-size: 12px
    font-family: "Charter"
    color: #6a6a6a

.small-icon
  height: 20px
  padding-right: 10px

span 
  margin: 10px

.slogan
  text-align: center
  color: #fff
  font-family: "Open Sans Italic"
  padding: 2rem 0 
  & span
    color: #ffa000

.pengumuman-container
  border: 1px solid #e1e1e1
  padding: 10px
  margin-bottom: 20px
  &.active
    background-color: #003466
    border: 1px solid #003466
    & .date li 
      color: #ffffff
    & .agenda-text
      color: #ffffff
    & h4.agenda-title a
      color: #ff9f00
      &:hover
        color: #ffffff

// MAPS
.gm-style .place-card-large
  display: none !important

.mapouter
  text-align: right
  height: 500px
  width: 100%

.gmap_canvas
  overflow: hidden
  background: none !important
  height: 500px
  width: 100%

iframe
  width: 100%
  height: 500px

// Other Page
.breadcrumb
  background-color: #fff
  &-item
    &.active
      font-family: "Open Sans"
      color: #cc2014
    & a
      font-family: "Open Sans"
      color: #aaaaaa

.paging
  display: flex
  justify-content: flex-end

.page
  &-item 
    & .page-link
      background-color: #ffffff
      border-color: #e1e1e1
      color: #e1e1e1
      height: 40px
      width: 40px
      text-align: center
      margin-right: 10px
      &:hover
        background-color: #ff9f00
        border-color: #ff9f00
        color: #ffffff
      &:focus,
      &:active
        box-shadow: none
    &.disabled .page-link
      background-color: #ff9f00
      border-color: #ff9f00
      color: #ffffff
      height: 40px
      width: 40px
      text-align: center
      margin-right: 10px
  &-item:first-child .page-link
    border-top-left-radius: 0
    border-bottom-left-radius: 0
  &-item:last-child .page-link
    border-top-right-radius: 0
    border-bottom-right-radius: 0

.bg-pedia
  border: 1px solid #e1e1e1
  margin-bottom: 2rem

.pedia
  &-warp 
    padding: 0 20px
  &-thumb
    height: 190px
    margin-bottom: 2rem
    border-top: 1px solid #e1e1e1
    padding-top: 20px
    & img
      height: 100%
      width: 100%
      object-fit: cover
  &-content
    font-family: 'Open Sans'
    font-size: 12px
    color: #6a6a6a
    margin-bottom: 2rem
    


  
